.nav {
    background-color: #15273d;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;

    .link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        color: inherit;

        .img {
            width: 3em;
        }

        .text {
            font-size: 1.2em;
        }
    }
}
