h3 {
    margin: 0px;
}
html {
    height: 100%;
    font-size: 1rem;
}
body,
.body {
    min-height: 100%;
    background-color: #f5f5f5;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

@media (max-width: 700px) {
    html {
        font-size: 0.9rem;
    }
}

@media (max-width: 390px) {
    html {
        font-size: 0.8rem;
    }
}
