html {
    height: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    background-color: #f5f5f5;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
#root {
    height: 100%;
}
