[submodule "camOverlayAPI/CamStreamerLib"]
	path = camOverlayAPI/CamStreamerLib
	url = ../CamStreamerLib.git
[submodule "camStreamerAPI/CamStreamerLib"]
	path = camStreamerAPI/CamStreamerLib
	url = ../CamStreamerLib.git
[submodule "clockAnalog/CamStreamerLib"]
	path = clockAnalog/CamStreamerLib
	url = ../CamStreamerLib.git
[submodule "twitter/CamStreamerLib"]
	path = twitter/CamStreamerLib
	url = ../CamStreamerLib.git
[submodule "ui_advanced/CamStreamerLib"]
	path = ui_advanced/CamStreamerLib
	url = ../CamStreamerLib.git
[submodule "vapix/CamStreamerLib"]
	path = vapix/CamStreamerLib
	url = ../CamStreamerLib.git
[submodule "vapixEvents/CamStreamerLib"]
	path = vapixEvents/CamStreamerLib
	url = ../CamStreamerLib.git
