.contentWrapper {
    width: max-content;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 2rem;
    position: relative;

    @media (max-width: 390px) {
        padding: 2rem 1rem;
    }
}

.boxShadow {
    position: absolute;
    inset: 0;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 20px;
}
