.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;

    .contentWrapper {
        width: max-content;
        margin-block: 2em;
        display: flex;
        flex-direction: column;
        gap: 4em;
        padding: 4em 2em;
        position: relative;

        .boxShadow {
            position: absolute;
            inset: 0;
            box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.5);
            z-index: -1;
            border-radius: 20px;
        }
    }
}
